# IDs
PUID=1000
PGID=1000
TZ=America/Chicago

# WireGuard server
SERVERURL=myducksubdomain.duckdns.org   # will be updated by DuckDNS container
SERVERPORT=51820
INTERNAL_SUBNET=10.13.13.0
ALLOWEDIPS=0.0.0.0/0            # full-tunnel; change to 192.168.86.0/24 for split
PEERS=phone                     # generates one peer
PEERDNS=192.168.86.1            # router DNS now; later switch to Pi-hole
PERSISTENTKEEPALIVE_PEERS=phone=25

# UI
SESSION_SECRET=ReplaceWithRandomString
WG_UI_PORT=51821

# DuckDNS updater
SUBDOMAINS=myducksubdomain
TOKEN=YourDuckDNSToken
